<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Reddit" suffix=" · Elixir Phoenix">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));

        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body>
    <ul class="menu menu-horizontal w-full relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_scope do %>
        <li>
          {@current_scope.user.email}
        </li>
        <li>
          <.link href={~p"/users/settings"}>Settings</.link>
        </li>
        <li>
          <.link href={~p"/users/log-out"} method="delete">Log out</.link>
        </li>
      <% else %>
        <li>
          <.link href={~p"/users/register"}>Register</.link>
        </li>
        <li>
          <.link href={~p"/users/log-in"}>Log in</.link>
        </li>
      <% end %>
      <li>
        <.link onclick="about_modal.showModal()">About</.link>
      </li>
    </ul>
    <dialog id="about_modal" class="modal">
      <div class="modal-box w-8/12 max-w-2xl">
        <h1 class="border-b-4 border-vlario-blue mb-6 text-2xl font-bold">About Reddit_ex</h1>
        <div class="space-y-4">
          <p>
            Minimal Reddit clone written using Elixir and the Phoenix framework.
          </p>
          <p>
            The goal of this project is to demonstrate how to deploy a non-trivial web app.
            This application has a public, before login side as well an a private, after login side.
            The standard authentication layer is used with email based registration or one time login links.
            Mails are sent using Gmail.
            Persistence of users, links and votes in handled via PostgreSQL.
            This is an open source application.
          </p>
          <div class="divider mt-8 mb-8" />
          <p>
            Application version {Application.spec(:reddit_ex, :vsn)}
          </p>
          <p>
            For more information, see the project website
            <a href="https://github.com/svenvc/reddit_ex" class="underline">reddit_ex</a>
          </p>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    {@inner_content}
  </body>
</html>
